.test {
	font-size: 1em;
}

/*---------------------------
 * Collections Product 
 ---------------------------*/

.parent-pageid-13 .wrapper .main-content .template-content {
  margin-top: 125px;
}


.wrapper .main-content .template-content .row .category-block .category-list .category-item p {
  font-weight: 300;
}

/*
 * Collections Product Nav 
 ---------------------------*/
nav.collections-product-nav {
  display: block;
  text-align: center;
  width: 100%;
  margin: 30px 0 0;
}
/*nav.collections-product-nav ul {
  list-style: none;
  padding: 0;
}*/
nav.collections-product-nav div {
  margin-bottom: 20px;
  text-transform: uppercase;
}
nav.collections-product-nav div {
  display: block;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 700;
  /*font-family: "Lato", Helvetica, Arial, sans-serif;*/
  /*font-weight: 600;*/
  font-style: normal;
  letter-spacing: 0.1em;
  /*line-height: 1.6em;*/
  margin: 1em 1.25em;
  padding: .15em;
  /*color: #333333;*/
  text-decoration: none;
  transition: all 0.3s ease-out;
  border-bottom: 2px solid transparent;
}
nav.collections-product-nav div.active {
    /*border-bottom-width: 3px;*/
    border-bottom-color: #313c42;
}

@media screen and (min-width: 560px) {
  nav.collections-product-nav div {
    display: inline-block;
  }
}

div[filter="furniture"] .category-item.rugs,
div[filter="furniture"] .category-item.textiles {
	display: none!important;
}

div[filter="rugs"] .category-item.furniture,
div[filter="rugs"] .category-item.textiles,
div[filter="rugs"] .category-item.casegoods,
div[filter="rugs"] .category-item.upholstery {
	display: none!important;
}

div[filter="textiles"] .category-item.furniture,
div[filter="textiles"] .category-item.rugs,
div[filter="textiles"] .category-item.casegoods,
div[filter="textiles"] .category-item.upholstery {
	display: none!important;
}


div[filter="furniture"] .category-item.furniture,
div[filter="furniture"] .category-item.casegoods,
div[filter="furniture"] .category-item.upholstery {
	display: inline-block!important;
}

div[filter="rugs"] .category-item.rugs {
	display: inline-block!important;
}

div[filter="textiles"] .category-item.textiles {
	display: inline-block!important;
}


/*----------------------------------
 * Slider Customizations
 ----------------------------------*/

.vh-carousel-btn {
    position: absolute!important;
    top: 50%!important;
    transform: perspective(1px) translateY(-50%)!important;
    height: 180px!important;
    width: 4.5%!important;
    min-width: 35px!important;
    background-image: url(../images/vh-slider-arrow-dark-2-opt.png)!important;
    background-color: rgba(0, 0, 0, 0.0)!important;
    background-size: contain!important;
    transition: background-color .3s ease-in-out;
    margin: 0!important;
}

.vh-carousel:hover .vh-carousel-btn {
    background-color: rgba(0, 0, 0, 0.2)!important;
}

.vh-carousel-btn.vh-carousel-btn-l {
    left: 0!important;
    transform: perspective(1px) translateY(-50%) scaleX(-1)!important;
}

.vh-carousel-btn.vh-carousel-btn-r {
    right: 0!important;
    left: initial!important;
}


/* Collections homepage product category grid layout update */
.wrapper .main-content .template-content .row .browse-cat-block h3 {
	font-size: 16pt;
	font-weight: 400;
}

.wrapper .main-content .template-content .row .browse-cat-block .quad-cat.casegoods {
    background-position: 30% top;
}

@media screen and (min-width: 700px) {
	.cat-flex-wrap {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	        -ms-flex-flow: row nowrap;
	            flex-flow: row nowrap;
	    -webkit-box-pack: justify;
	        -ms-flex-pack: justify;
	            justify-content: space-between;
	}
}
.cat-flex-wrap > a {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
    display: block;
}
.wrapper .main-content .template-content .row .browse-cat-block .quad-cat {
    width: 100%;
}
.wrapper .main-content .template-content .row .browse-cat-block .quad-cat p {
    font-size: 32px;
}
.wrapper .main-content .template-content .row .browse-cat-block {
    padding: 0;
    max-width: 1050px;
    margin: 0 auto;
}

@media screen and (max-width: 500px) {
.page-template-collectionsgallery .wrapper .main-content .template-content .row .carousel-block .vh-carousel.vh-crossfade, .parent-pageid-20.page-template-interiorsportfolio .wrapper .main-content .template-content .row .carousel-block .vh-carousel.vh-crossfade {
  height: 325px;
}
}

/*.swipe {
  overflow: hidden!important!important;
  visibility: hidden!important;
  position: relative!important;
}
.swipe-wrap {
  overflow: hidden!important;
  position: relative!important;
}
.swipe-wrap > div {
  float:left!important;
  width:100%!important;
  position: relative!important;
}*/


.vh-carousel {
  /*position:absolute;*/
  height:100%;
  width:100%;
  /*background: linear-gradient(bottom, #000, #666);
  background: -o-linear-gradient(bottom, #000, #666);
  background: -moz-linear-gradient(bottom, #000, #666);
  background: -webkit-linear-gradient(bottom, #000, #666);
  background: -ms-linear-gradient(bottom, #000, #666);
  color:#fff;*/
  overflow:hidden;
}

.vh-carousel .vh-carousel-item {
  width:100%;
  height:100%;
  position:absolute;
  padding:36px;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  /*visibility:hidden;*/
}

.vh-carousel .vh-carousel-item.active {
  visibility:visible;
}