.#{$ns}video {
    position: relative;
    .#{$ns}youtube {
	    width: 100%;
    }
    video {
        width: 100%;
    }
    .#{$ns}controls {
	    position: absolute;
	    bottom: 10px;
	    left: 50%;
	    transform: translateX(-50%);
    }
}